# Игнорируем папки и файлы, созданные collectstatic
/static/
/staticfiles/

node_modules/

# Игнорируем файлы базы данных SQLite


# Игнорируем файлы среды разработки
.env
.pycache/
__pycache__/

# Игнорируем виртуальные окружения
venv/
env/

# Игнорируем другие временные файлы
*.pyc
.DS_Store
