# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3

# Системные файлы
.DS_Store
Thumbs.db

# Среда разработки
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Папки с временными файлами и кэшами
media/
staticfiles/
static/

# Папка с миграциями (если вы не хотите отслеживать миграции)
# migrations/

# Исключение файлов конфигурации IDE (например, PyCharm)
.idea/

# Исключение файлов конфигурации VS Code
.vscode/

# Другие временные файлы и папки
*.swp
*~
