{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<div class="ui container" style="margin-top: 20px;">
    <h1 class="ui header">{{ product.name }}</h1>
    
    <div class="ui stackable grid">
        <div class="eight wide column">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="ui fluid image">
            {% endif %}
        </div>
        <div class="eight wide column">
            <h2 class="ui header">Описание</h2>
            <p>{{ product.text }}</p>
            <h3 class="ui header">Цена: {{ product.price|floatformat:2 }}<i class="ruble sign icon"></i></h3>
            <div class="ui buttons">
                <button class="ui primary button">Добавить в корзину</button>
                <button class="ui green button">Купить сейчас</button>
            </div>
        </div>
    </div>

    <h2 class="ui header" style="margin-top: 30px;">Характеристики</h2>
    <ul class="ui list">
        <li><strong>Белки:</strong> {{ product.protein }} г</li>
        <span><strong>Углеводы:</strong> {{ product.carbohydrates }}</span><br>
        <li><strong>Жиры:</strong> {{ product.fats }} г</li>
        <li><strong>Калории:</strong> {{ product.callories }} ккал</li>
        <li><strong>Доступное количество:</strong> {{ product.quantity }}</li>
    </ul>
    <a href={% url "product_update_view" pk=product.pk %}>
        <button class="ui orange button">Изменить данные о данном товаре</button>
    </a>
</div>
{% endblock content %}
